.container
  =$this->Html->link('Twitterでログイン', '/examples/twitter', array('class' => 'btn btn-primary'))
  =$this->Html->link('TwitterでCookieログイン', '/examples/cookieLogin', array('class' => 'btn btn-primary'))
  =$this->Html->link('Postテーブル操作', '/posts', array('class' => 'btn btn-primary'))
